<!--ffPROBE Window-->
<div class="modal dark fade" id="probe" role="dialog" aria-labelledby="probeLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="probeLabel"><i class="fa fa-search"></i> &nbsp; <%-lang.FFprobe%></h4>
      </div>
      <div class="modal-body">
          <div class="text-center msg"></div>
        <div class="form-group">
            <i>"<%-lang['FFmpegTip']%>"</i> - FFmpegTips
        </div>
        <div class="form-group">
            <label><div><span><%-lang['Complete Stream URL']%></span></div>
                <div><input class="form-control" name="url" placeholder="<%-lang.Example%> : http://192.168.88.126/videostream.cgi or /dev/video0"></div>
            </label>
        </div>

        <div class="output_data"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal"><i class="fa fa-times"></i> <%-lang.Close%></button>
        <button type="button" class="btn btn-primary fill"><i class="fa fa-wrench"></i> <%-lang.Import%></button>
        <button type="submit" class="btn btn-success"><i class="fa fa-search"></i> <%-lang.Check%></button>
      </div>
    </form>
  </div>
</div>
<!--onvif PROBE Window-->
<link rel="stylesheet" href="<%-window.libURL%>libs/css/dash2.onvifscanner.css">
<div class="modal full dark fade" id="onvif_probe" role="dialog" aria-labelledby="onvif_probeLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="onvif_probeLabel"><i class="fa fa-rss"></i> &nbsp; <%-lang['ONVIF Scanner']%><span style="display:none" class="_loading"> &nbsp; <i class="fa fa-pulse fa-spinner"></i></span></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
              <div class="form-group-group navy">
                  <h4><%-lang['Scan Settings']%></h4>
                  <p class="text-center"><%-lang.ONVIFnote%></p>
                  <div class="form-group">
                    <label><div><span><%-lang['IP Address']%> <small><%-lang['Range or Single']%></small></span></div>
                        <div><input class="form-control" name="ip" placeholder="Example : 10.1.100.1-10.1.100.254"></div>
                    </label>
                  </div>
                  <div class="form-group">
                    <label><div><span><%-lang['Port']%> <small>Separate by Commas or a Range</small></span></div>
                        <div><input class="form-control" name="port" placeholder="Example : 80,7575,8000,8080,8081"></div>
                    </label>
                  </div>
                  <div class="form-group">
                    <label><div><span><%-lang['Camera Username']%></span></div>
                        <div><input class="form-control" name="user" placeholder="Can be left blank."></div>
                    </label>
                  </div>
                  <div class="form-group">
                    <label><div><span><%-lang['Camera Password']%></span></div>
                        <div><input class="form-control" type="password" name="pass"></div>
                    </label>
                  </div>
                  <button type="submit" class="btn btn-block btn-success"><%-lang.Search%><span class="_loading" style="display:none"> &nbsp; <i class="fa fa-pulse fa-spinner"></i></span></button>
              </div>
          </div>
          <div class="col-md-6">
              <div class="form-group-group blue" style="padding:0">
                  <h4 style="margin-bottom:0;padding: 15px 25px;"><%-lang['Found Devices']%></h4>
                  <div class="onvif_result"></div>
              </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success add-all" data-dismiss="modal"><i class="fa fa-plus"></i> <%-lang['Add All'] %></button>
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal"><i class="fa fa-times"></i> <%-lang.Close%></button>
      </div>
    </form>
  </div>
</div>
<!--  -->
<script src="<%-window.libURL%>libs/js/dash2.probe.js"></script>
<script src="<%-window.libURL%>libs/js/dash2.onvifscanner.js"></script>
