<div class="modal dark fade" id="schedules" role="dialog" aria-labelledby="schedulesLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="schedulesLabel"><i class="fa fa-clock-o"></i> &nbsp; <%-lang['Schedules']%></h4>
      </div>
      <div class="modal-body">
          <div class="form-group">
              <label>
                  <div><select class="form-control" id="schedulesSelector">
                      <option value=""><%-lang['Add New']%></option>
                      <optgroup label="<%-lang['Saved Schedules']%>"></optgroup>
                    </select></div>
              </label>
          </div>
          <div class="form-group-group green">
              <h4><%- lang['Schedule'] %>
                <div class="pull-right">
                    <a class="btn btn-danger btn-xs delete" style="display:none">&nbsp;<i class="fa fa-trash-o"></i>&nbsp;</a>
                </div>
              </h4>
              <div class="form-group">
                <label><div><span><%-lang['Name']%></span></div>
                    <div><input class="form-control" name="name"></div>
                </label>
              </div>
              <div class="form-group">
                  <label><div><span><%-lang['Enabled']%></span></div>
                    <div><select class="form-control" name="enabled">
                        <option value="1" selected><%-lang.Yes%></option>
                        <option value="0"><%-lang.No%></option>
                    </select></div>
                  </label>
              </div>
              <div class="form-group">
                <label><div><span><%-lang['Timezone Offset']%></span></div>
                    <div><select class="form-control" name="timezone">
                        <% [
                               {
                                  "text": "UTC−12:00, Y",
                                  "value": -720
                               },
                               {
                                  "text": "UTC−11:00, X",
                                  "value": -660
                               },
                               {
                                  "text": "UTC−10:00, W",
                                  "value": -600
                               },
                               {
                                  "text": "UTC−09:30, V†",
                                  "value": -570
                               },
                               {
                                  "text": "UTC−09:00, V",
                                  "value": -540
                               },
                               {
                                  "text": "UTC−08:00, U",
                                  "value": -480
                               },
                               {
                                  "text": "UTC−07:00, T",
                                  "value": -420
                               },
                               {
                                  "text": "UTC−06:00, S",
                                  "value": -360
                               },
                               {
                                  "text": "UTC−05:00, R",
                                  "value": -300
                               },
                               {
                                  "text": "UTC−04:00, Q",
                                  "value": -240
                               },
                               {
                                  "text": "UTC−03:30, P†",
                                  "value": -210
                               },
                               {
                                  "text": "UTC−03:00, P",
                                  "value": -180
                               },
                               {
                                  "text": "UTC−02:00, O",
                                  "value": -120
                               },
                               {
                                  "text": "UTC−01:00, N",
                                  "value": -60
                               },
                               {
                                  "text": "UTC±00:00, Z",
                                  "value": 0,
                                  "selected": true
                               },
                               {
                                  "text": "UTC+01:00, A",
                                  "value": 60
                               },
                               {
                                  "text": "UTC+02:00, B",
                                  "value": 120
                               },
                               {
                                  "text": "UTC+03:00, C",
                                  "value": 180
                               },
                               {
                                  "text": "UTC+03:30, C†",
                                  "value": 210
                               },
                               {
                                  "text": "UTC+04:00, D",
                                  "value": 240
                               },
                               {
                                  "text": "UTC+04:30, D†",
                                  "value": 270
                               },
                               {
                                  "text": "UTC+05:00, E",
                                  "value": 300
                               },
                               {
                                  "text": "UTC+05:30, E†",
                                  "value": 330
                               },
                               {
                                  "text": "UTC+05:45, E*",
                                  "value": 345
                               },
                               {
                                  "text": "UTC+06:00, F",
                                  "value": 360
                               },
                               {
                                  "text": "UTC+06:30, F†",
                                  "value": 390
                               },
                               {
                                  "text": "UTC+07:00, G",
                                  "value": 420
                               },
                               {
                                  "text": "UTC+08:00, H",
                                  "value": 480
                               },
                               {
                                  "text": "UTC+08:45, H*",
                                  "value": 525
                               },
                               {
                                  "text": "UTC+09:00, I",
                                  "value": 540
                               },
                               {
                                  "text": "UTC+09:30, I†",
                                  "value": 570
                               },
                               {
                                  "text": "UTC+10:00, K",
                                  "value": 600
                               },
                               {
                                  "text": "UTC+10:30, K†",
                                  "value": 630
                               },
                               {
                                  "text": "UTC+11:00, L",
                                  "value": 660
                               },
                               {
                                  "text": "UTC+12:00, M",
                                  "value": 720
                               },
                               {
                                  "text": "UTC+12:45, M*",
                                  "value": 765
                               },
                               {
                                  "text": "UTC+13:00, M†",
                                  "value": 780
                               },
                               {
                                  "text": "UTC+14:00, M†",
                                  "value": 840
                               }
                        ].forEach(function(option){
                            var selected = ''
                            if(option.selected)selected = 'selected'
                            %>
                            <option value="<%- option.value %>" <%- selected %>><%- option.text %></option>
                        <% }) %>
                    </select></div>
                </label>
              </div>
              <div class="form-group">
                <label><div><span><%-lang['Start']%></span></div>
                    <div><input class="form-control" name="start" placeholder="HH:mm"></div>
                </label>
              </div>
              <div class="form-group">
                <label><div><span><%-lang['End']%></span></div>
                    <div><input class="form-control" name="end" placeholder="HH:mm"></div>
                </label>
              </div>
              <div class="form-group">
                  <label><div><span><%-lang['Days']%></span></div>
                    <div><select class="form-control" style="min-height:100px" multiple name="days">
                        <option value="0"><%- lang.Sunday %></option>
                        <option value="1"><%- lang.Monday %></option>
                        <option value="2"><%- lang.Tuesday %></option>
                        <option value="3"><%- lang.Wednesday %></option>
                        <option value="4"><%- lang.Thursday %></option>
                        <option value="5"><%- lang.Friday %></option>
                        <option value="6"><%- lang.Saturday %></option>
                    </select></div>
                  </label>
              </div>
              <div class="form-group">
                  <label><div><span><%-lang['Monitor States']%></span></div>
                    <div><select class="form-control" style="min-height:100px" multiple name="monitorStates">
                    </select></div>
                  </label>
              </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal"><i class="fa fa-times"></i> <%-lang.Close%></button>
        <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> <%-lang.Save%></button>
      </div>
    </form>
  </div>
</div>
<script src="<%-window.libURL%>libs/js/dash2.schedules.js"></script>
